/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #222222;
  background-color: white;
}

a {
  color: #A2B9B2;
  text-decoration: none;
}


/* base.html page */


/* student.html page */

#photo {
  padding-top: 20px;
  padding-bottom: 20px;

  display: block;
  margin: auto;
}

.cell-headers {
  font-weight: bold;
}

/* change border radius for the tab , apply corners on top*/
.nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* contact card on student.html */

@import url(//fonts.googleapis.com/css?family=Six+Caps|Open+Sans:400,300,600);

h2 {
  font: 300 20px/28px 'Open Sans', sans-serif;
  color: #cfd8ee;
  margin: 0 0 23px;
}
h3 {
  font: 13px/20px 'Open Sans', sans-serif;
  color: #e7efff;
  margin: 0 0 6px;
}
p {
  margin-bottom: 24px;
  font: 13px/20px 'Open Sans', sans-serif;
}

hr {
    background-color: #51596d;
    border: none;
    height: 1px;
    margin: 0 0 21px;
}

.contact {
  padding: 20px 20px 20px 20px;
  color: #8391ab;
  background-color: #14163D;
  margin: 60px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
}
.prefix {
  width: 48px;
  display: inline-block;

}
.email {
  color: #ffffff;
  margin-left: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.email:hover {
  color: #cfd8ee;
  text-decoration: none;
}



/* calendar.html */
table, th, td {
  border: 1px solid black;
  font-size: x-small;
}

td {
  height: 10px;
}

.weekend {
  display: none;
}

.event {
  color: #8391ab;
  background-color: #14163D;
  margin: 60px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
}
