{% extends "base.html" %}

{% block head %}
<script src="../../static/js/main.js" async></script>
{% endblock %}


{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-sm-offset-1"></div>
        <div class="col-sm-7">
          <ul  class="nav nav-pills">
            <li class="active"><a  href="#1a" data-toggle="tab">Contact</a></li>
            <li><a href="#2a" data-toggle="tab">Timetable</a></li>
            <li><a href="#3a" data-toggle="tab">Attendance</a></li>
            <li><a href="#4a" data-toggle="tab">Assessment</a></li>
          </ul>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
          <div class="panel panel-default">
            <div class="panel-body">
              <img id="photo" src="{{ student.photo.url }}" width="150">
              <h3>{{ student }}</h3>
              <table border="0">
                <tr>
                  <td class="cell-headers"><div style="width: 100px">Year:</div></td>
                  <td>{{ student.form.year }}</td>
                </tr>
                <tr>
                  <td class="cell-headers">DOB:</td>
                  <td>{{ student.dob }}</td>
                </tr>
                <tr>
                  <td class="cell-headers">Form:</td>
                  <td>{{ student.form }}</td>
                </tr>
                <tr>
                  <td class="cell-headers">Form Tutor:</td>
                  <td>SOME TEACHER</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div>
            <div class="tab-content clearfix">
              <div class="tab-pane active" id="1a">
                <div class="row">
                  <div class="col-sm-6">
                      <h3>
                        {% if student_addr %}
                          {{ student_addr|linebreaks }}
                        {% endif %}
                      </h3>
                  </div>
                  <div class="col-sm-6">
                      {% if student_phone %}
                        <h3>
                          Student {{ student_phone.get_phone_type_display }} Phone:
                          <br>
                          {{ student_phone.phone_number }}
                        </h3>
                      {% endif %}
                  </div>
                </div>
                <div class="row">
                  {% for contact in student_contacts %}
                    <div class="col-sm-4">
                      <div class="contact">
                        <h3>{{ contact.contact_name }}</h3>
                        <hr>
                          <h3>{{ contact.contact_addr|linebreaks }}</h3>
                        <span class="prefix">{{ contact.contact_phone.get_phone_type_display }}</span>
                        {{ contact.contact_phone.phone_number }}
                        <br>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="tab-pane" id="2a">
              </div>
              <div class="tab-pane" id="3a">
                <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
              </div>
              <div class="tab-pane" id="4a">
                <h3>We use css to change the background color of the content to be equal to the tab</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
